@charset "UTF-8";

table {
  margin: 15px auto;
}

table caption {
  margin:  0px;
  padding: 5px;

  background:  #e8e8ff;
  font-size:   16pt;
  font-weight: bold;
  font-family: sans-serif;
}

table th {
  background: #f8f8f8;
}

table td {
  margin:  0px;
  padding: 3px;

  background: #e8e8e8;
}


input {
  width: 3em;
  font-size: 18pt;
}

table td button {
  border-radius: 6px;
  font-size: 14pt;
}

#result {
  font-size: 18pt;
}

footer {
  text-align: right;
  margin-right: 35px;
}

footer #copy {
  color:     #0000ff;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Courier New", "Ricty Diminished Discord", monospace;
}
