@charset "UTF-8";

#started input[type="number"] {
  width: 3em;
}

#ended input[type="number"] {
  width: 3em;
}

#break input[type="number"] {
  width: 3em;
}

footer {
  text-align: right;
  margin-right: 35px;
}

footer #copy {
  color:     #0000ff;
  font-size: 10pt;
  font-weight: bold;
  font-family: "Courier New", "Ricty Diminished Discord", monospace;
}
